.Border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    background-color:#011639;
    flex-direction: column;
    align-items: flex-end;
  }
  

.footer-column {
    padding: 10px;
    float: left;
    color: #BFC6CF;
  }
  
  .footer-column img {
    width: 100px;  
    height: auto;
  }
  
  .footer-column p {
    margin: 0;
  }

ul {
    list-style-type: none;
    padding: 0;
   
  }
  
  ul li {
    margin-bottom: 10px;
    
  }
  
  ul li a {
    text-decoration: none;
    color: #BFC6CF;
  }
  
  ul li a:hover {
    color: #137AF7;
  }

.footer-contact {
    padding: 10px;
    clear: both;
    width: calc(50% - 100px); 
    color: #BFC6CF;
 }

 .footer-contact h3 {
    margin-top: 0;
    color: #BFC6CF;
  }

.footer-bottom {
    text-align: right;
    clear: both;
    padding: 10px;
    color: #BFC6CF;
}